[tool.poetry]
name = "causadb"
version = "0.0.0"
description = ""
authors = ["Jordan hart <jordan@causa.tech>"]
readme = "README.md"

[tool.poetry.scripts]
causadb = "causadb.cli.main:app"

[tool.poetry.dependencies]
python = "^3.10"
typer = {extras = ["all"], version = "^0.9.0"}
requests = "^2.31.0"
toml = "^0.10.2"
python-dotenv = "^1.0.1"
click = "^8.1.7"
rich = "^13.7.0"
pandas = "^2.2.0"
pytest = "^7.4.4"
pyarrow = "^15.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
