name: CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: 3.x

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install poetry
                  poetry install

            - name: Increment version
              run: |
                  poetry run inv increment-version-number

            - name: Commit version increment
              uses: EndBug/add-and-commit@v9
              with:
                  add: causadb/__version__.py pyproject.toml
                  message: "[auto-commit] Increment version number"
                  pull: "--rebase --autostash"
                  default_author: github_actions
