name: Deploy to PyPI

on:
    pull_request:
        types:
            - closed
        branches:
            - main

jobs:
    deploy:
        if: github.event.pull_request.merged == true
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: 3.x

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install poetry
                  poetry install

            - name: Bump version
              run: |
                  if [[ "${{ github.head_ref }}" == feature/* ]]; then
                  poetry version minor
                  elif [[ "${{ github.head_ref }}" == patch/* ]]; then
                  poetry version patch
                  fi

            - name: Sync version to __version__.py
              run: |
                  poetry run inv sync-version-py

            - name: Commit version increment
              uses: EndBug/add-and-commit@v9
              with:
                  add: causadb/__version__.py pyproject.toml
                  message: "[auto-commit] Increment version number"
                  pull: "--rebase --autostash"
                  default_author: github_actions

            - name: Push to PyPI (main branch only)
              if: github.ref == 'refs/heads/main'
              run: |
                  poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
                  poetry publish --build
