name: Generate documentation

on:
    push:
        branches:
            - main

jobs:
    docs:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: 3.x

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install poetry
                  poetry install

            - name: Build docs
              run: |
                  poetry run inv build-docs
                  poetry run inv build-cli-docs

            - name: Deploy to docs branch
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_branch: docs
                  publish_dir: ./docs

            - name: Deploy to CLI docs branch
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_branch: cli-docs
                  publish_dir: ./cli_docs
